/*your custom css goes here*/

.display-none{display:none !important}
.container{max-width: 100% !important;}
.sticky-top .list-inline-item a{font-weight:500 !important}
.welcome_text{margin-top: 8px;font-size: 12px;}
.top-navbar{padding: 0px;padding-left: 10%;padding-right: 10%;color: #000;}
.top-navbar .container{padding: 0px;}
.middle_header_area .container{padding-left: 10%;padding-right: 10%;}
.home_contact .contact_box_address {padding-right: 25px;margin-right: 25px;border-right: 2px solid #ebebeb;height: 40px;}
.home_contact .contact_box label{font-weight: 500;font-size: 12px;color:grey;text-transform: uppercase;margin-bottom: 0px !important;}
.opacity-60,.opacity-70{opacity: 1 !important;}


a:hover{color: var(--custom-color) !important;}
.badge-primary{background-color:var(--custom-color) !important;}

.top_last_header .menu_area{padding:0px;padding-bottom: 10px;margin-left: -30px;}
.top_last_header .search_area{padding:0px;margin-right: -20px;}
.top_last_header .search_area .front-header-search .btn{background:var(--custom-color) !important;border:var(--custom-color) !important;height: 34px !important;width: 20px;margin-top:2px;border-radius: 0px !important;}
.top_last_header .search_area .front-header-search #search{height: 34px !important;margin-top:2px;border-radius: 0px;}
.top_last_header .search_area .front-header-search .la-search{margin-left: -7px;}

.home-banner-area{  padding: 0px !important;}
.home-banner-area .container{  padding: 0px !important;}
.aiz-main-wrapper{background:#fff !important}
.aiz-p-hov-icon a:hover {background:var(--custom-color) !important;color: #fff !important;}
.fw-600{font-weight:500 !important}
.fw-700{font-weight:500 !important}
.footer_area_1{background:#fff !important;color: #000 !important;border-top: 1px solid #ededed;}
.footer_area_2{background:#fff !important;color: grey !important;border-top: 1px solid #ededed;}
.footer_area_2 a{color:var(--custom-color) !important}
.footer_area_1 .container,.footer_area_2 .container{padding-left:5%;padding-right:5%}
.footer_area_1 .contact-info-box .list-unstyled li{color:grey; font-size:14px;}
.footer_area_1  li,.footer_area_1  a {color:grey; font-size:14px;}
.footer_area_1  li .opacity-50{opacity:1 !important}
.footer_area_1 .social i{color:grey}
.footer_area_1 .social a{border:1px solid grey}
.return_policy_block{text-transform:capitalize !important}

.footer_newsletter{border-top: 1px solid #ededed;margin-top: 0px !important; background:#000 !important}
.footer_newsletter .subscribe{padding-left: 15%;padding-right: 15%;}
.footer_newsletter .newsletter-form .form-control{border-radius: 0px;width: 400px;}
.footer_newsletter .newsletter-form .btn{border-radius: 0px;margin-left: -125px !important;padding: 6px;  padding-top: 6px;width: 120px;padding-top: 7px;}
.footer_newsletter .subscribe-field{padding-top: 17px;}
.btn-primary, .btn-soft-primary:hover, .btn-outline-primary:hover {background-color: var(--custom-color);border-color: var(--custom-color);color: var(--white)  !important;border-radius:2px;}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.disabled, .btn-primary:disabled, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
	background-color: #000;
	border-color: #000;
	color: #fff !important
}

.subscribe-wrap {
	margin-top: 50px;
	background: #0068e1;
	background: var(--color-primary);
}
.justify-content-center {
	-webkit-box-pack: center !important;
	justify-content: center !important;
}
.subscribe {
	display: -webkit-box;
	display: block;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 30px 0 25px;
}
.subscribe .subscribe-text .title {
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
}
.subscribe .subscribe-text .sub-title, .subscribe .subscribe-text .title {
	display: block;
	color: #fff;
}
.subscribe .subscribe-text .sub-title {
	line-height: 24px;
	margin-top: 10px;
}

.aiz-card-box .badge-custom{color:var(--custom-color) !important}
.aiz-card-box .badge-custom .box{background:var(--custom-color) !important}

.sticky-header{height: 100px;
background: #fff !important;
padding-left: 10%;
padding-right: 10%;
border-bottom: 1px solid #ebebeb;
opacity: 0.9;
}

.sticky-header.sticky-top {
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;
	background: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 900ms;
	animation-duration: 900ms;
	-webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
	animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none;
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.display-compare{display:none !important}
.header-cart-wishlist-area{margin-left:10%}

.hov-shadow-md:hover{
		/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important; */
		box-shadow:0px 0 15px 0 rgba(0, 0, 0, 0.3) !important
	}

.product-detail-page .product-info-box{padding:10px 0px;}	
.product-detail-page .product-info-box .heading{color:#000; opacity: 0.5 !important;}
.product-detail-page .product-info-box .value{font-size:14px}
.searching_input_area{z-index:00}
.aiz-megabox > input:checked ~ .aiz-megabox-elem, .aiz-megabox > input:checked ~ .aiz-megabox-elem{border-radius: 0px !important;
background: var(--custom-color);color: #fff;box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.3) !important;box-shadow: 0px 0 8px 0 rgba(0, 0, 0, 0.3) !important;
border: 1px solid var(--custom-color) !important;}
[data-vertical="true"] .slick-current .carousel-box{border-color:var(--custom-color) !important;}

.btn{border-radius:0px }
.custom_add_cart_btn{width: 300px;height: 50px !important;font-size: 17px;font-weight: normal !important;	background: #2f2f2f;color: #fff;margin-top: 0;margin-bottom: 0;height: auto;}
.return_policy_block .container{padding: 0px;}
.breadcrumb_area{ padding: 70px 70px;background-size: cover !important;}
.breadcrumb_area h1{ color:#fff}
.breadcrumb_area .breadcrumb .breadcrumb-item{ color:#fff !important; opacity: 1 !important}
.breadcrumb_area .breadcrumb-item + .breadcrumb-item::before {color: #fff;content: "/";}



.gemstones-list .content {
  position: relative;
  width: 90%;
  overflow: hidden;
  padding:10px;
}

.gemstones-list .content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.gemstones-list .content:hover .content-overlay{
  opacity: 1;
}

.gemstones-list .content-image{
  width: 100%;
  padding: 2px;
   border: 1px solid #ededed;
}

.gemstones-list .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.gemstones-list .content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.gemstones-list .content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.gemstones-list .content-details p{
  color: #fff;
  font-size: 0.8em;
  padding-left: 7%;
  padding-right: 7%;
}



.gemstones-list .fadeIn-top{
  top: 20%;
}

.gemstones-list .fadeIn-right{
  left: 80%;
}


/****************** mega menu ********************/


.top_navigation ul{
  list-style:none;
  margin: 0;
  padding: 0;
}


.top_navigation .exo-menu{
  width: 100%;
  float: left;
  list-style: none;
  position:relative;
}
.top_navigation .exo-menu > li {  display: inline-block;float:left;}
.top_navigation .exo-menu > li > a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-right: none;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear;
}
.top_navigation .exo-menu > li > a.active,
.top_navigation .exo-menu > li > a:hover,
.top_navigation li.drop-down ul > li > a:hover{
  background:#009FE1;
  color:#fff;
}
.top_navigation .exo-menu i {
  float: left;
  font-size: 18px;
  margin-right: 6px;
  line-height: 20px !important;
}
.top_navigation li.drop-down,
.top_navigation .flyout-right,
.top_navigation .flyout-left{position:relative;}
/*.top_navigation li.drop-down:before {
  content: "\f103";
  color: #fff;
  font-family: FontAwesome;
  font-style: normal;
  display: inline;
  position: absolute;
  right: 6px;
  top: 20px;
  font-size: 14px;
}*/
.top_navigation li.drop-down>ul{
  left: 0px;
  min-width: 230px;

}
.top_navigation .drop-down-ul{display:none;}
.top_navigation .flyout-right>ul,
.top_navigation .flyout-left>ul{
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670;
  }

.top_navigation li.drop-down>ul>li>a,
.top_navigation .flyout-right ul>li>a ,
.top_navigation .flyout-left ul>li>a {
  color: #fff;
  display: block;
  padding: 15px 22px;
  text-decoration: none;
  background-color: #fff;
  border-bottom: 1px dotted #547787;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear;
  color: #000;
font-size: 12px;
}

.top_navigation .exo-menu li.drop-down ul.drop-down-ul{border: 1px solid #ededed;border-left: 1px solid;}
.top_navigation .flyout-right ul>li>a ,
.top_navigation .flyout-left ul>li>a {
  border-bottom: 1px dotted #B8C7BC;
}


/*Flyout Mega*/
.top_navigation .flyout-mega-wrap {
  top: 0;
  right: 0;
  left: 100%;
  width: 100%;
  display:none;
  height: 100%;
  padding: 15px;
  min-width: 742px;

}
.top_navigation h4.row.mega-title {
  color:#eee;
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
 }
.top_navigation .flyout-mega ul > li > a {
  font-size: 90%;
  line-height: 25px;
  color: #fff;
  font-family: inherit;
}
.top_navigation .flyout-mega ul > li > a:hover,
.top_navigation .flyout-mega ul > li > a:active,
.top_navigation .flyout-mega ul > li > a:focus{
  text-decoration: none;
  background-color: transparent !important;
  color: #ccc !important
}
/*mega menu*/

.top_navigation .mega-menu {
  left: 0;
  right: 0;
  padding: 15px;
  display:none;
  padding-top: 0;
  min-height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);;
 /* margin-top: 12px; */

}
.top_navigation h4.row.mega-title {
  color: #000;
  margin-top: 0px;
  font-size: 11px;
  padding-left: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: none;
  padding-top: 15px;
  background-color: #fff;
  font-weight: 600;
  letter-spacing: 0.7px;
  }
.top_navigation  .mega-menu ul li a {
  line-height: 25px;
  font-size: 90%;
  display: block;
}
.top_navigation ul.stander li a {
    padding: 3px 0px;
}

.top_navigation ul.description li {
    padding-bottom: 12px;
    line-height: 8px;
}

.top_navigation ul.description li span {
    color: #ccc;
    font-size: 85%;
}
.top_navigation a.view-more{
  border-radius: 1px;
  margin-top:15px;
  background-color: #009FE1;
  padding: 2px 10px !important;
  line-height: 21px !important;
  display: inline-block !important;
}
.top_navigation a.view-more:hover{
  color:#fff;
  background:#0DADEF;
}
.top_navigation ul.icon-des li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important;
}

.top_navigation ul.icon-des li {
    width: 100%;
    display: table;
    margin-bottom: 11px;
}

/*common*/
.top_navigation .flyout-right ul>li>a ,
.top_navigation .flyout-left ul>li>a,
.top_navigation .flyout-mega-wrap,
.top_navigation .mega-menu{
  background-color: #fff;
}

/*hover*/

.top_navigation .mega-menu:hover,
.top_navigation .drop-down-ul:hover,
.top_navigation li.flyout-left>ul:hover,
.top_navigation li.flyout-right>ul:hover,
.top_navigation .flyout-mega-wrap:hover,
.top_navigation li.flyout-left a:hover +ul,
.top_navigation li.flyout-right a:hover +ul,
.top_navigation .blog-drop-down >a:hover+.Blog,
.top_navigation li.drop-down>a:hover +.drop-down-ul,
.top_navigation .images-drop-down>a:hover +.Images,
.top_navigation .mega-drop-down a:hover+.mega-menu,
.top_navigation li.flyout-mega>a:hover +.flyout-mega-wrap{
  display:block;
}

#product_img_all .slick-list.draggable {
  height: 100% !important;
}

.gemstone-list-product .active{
  border: 3px solid var(--custom-color) !important;
  padding: 4px !important;
  box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.3) !important;
}
/*responsive*/
 @media (min-width:767px){
.top_navigation   .exo-menu > li > a{
  display:block;
  padding: 8px 22px;
 }
.top_navigation .mega-menu,.top_navigation  .flyout-mega-wrap,.top_navigation .flyout-right>ul,
.top_navigation .flyout-left>ul,.top_navigation  li.drop-down>ul{
    position:absolute;
}
.top_navigation  .flyout-right>ul{
  left: 100%;
  }
.top_navigation   .flyout-left>ul{
  right: 100%;
}
 }
@media (max-width:767px){

 .top_navigation  .exo-menu {
    min-height: 58px;
    background-color: #23364B;
    width: 100%;
  }
  
.top_navigation   .exo-menu > li > a{
    width:100% ;
      display:none ;
  
  }
.top_navigation   .exo-menu > li{
    width:100%;
  }
 .top_navigation  .display.exo-menu > li > a{
    display:block ;
      padding: 20px 22px;
  }
  
.top_navigation .mega-menu,.top_navigation .flyout-right>ul,
.top_navigation .flyout-left>ul,.top_navigation  li.drop-down>ul{
    position:relative;
}

}


.top_navigation .megamenusip,.top_navigation  .mega-menu,.top_navigation .flyout-right>ul,
.top_navigation .flyout-left>ul,.top_navigation  li.drop-down>ul{
  z-index: 2000;
}
.top_navigation .exo-menu > li > a.active,.top_navigation  .exo-menu > li > a:hover,.top_navigation  li.drop-down ul > li > a:hover {
    background-color: #fff !important;
	color: var(--custom-color) !important;
}
